.student-main-dashboard{
  margin-left: 250px;
  padding: 30px;
  background-color: #1b1a1a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.student-main-dashboard *{
  padding: 0;
  margin: 0;
}


.student-main-dashboard-top-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.student-main-dashboard-top-row h1{
  font-weight: 600;
  color: whitesmoke;
}

.student-dashboard-top, .student-dashboard-bottom{
  border: 1px solid rgb(200, 200, 200);
  padding: 30px 10px;
  border-radius: 10px;
  background-color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Lora&display=swap');

.student-dashboard-top h1,
.student-dashboard-bottom h1{
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.08em;
  line-height: 1.1;
  /* color: rgb(225, 212, 212); */
  color: #E0D9D9;
  text-transform: uppercase;
  padding: 10px 0;
}

.student-dashboard-top,
.student-dashboard-bottom{
  background-color: #2c3e50;
}

.student-name{
  color: gray;
}

.student-dashboard-info-tiles{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0;
}

.student-dashboard-info-tile{
  width: 150px;
  aspect-ratio: 1;
  background-color: rgb(253, 253, 253);
  border-radius: 10px;
  border: 1px solid rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  transition: 0.3s;
}

.student-dashboard-info-tile:hover{
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.student-dashboard-info-tile h2{
  width: 100%;
  text-align: center;
  font-size: 23px;
  /* color: rgb(67, 23, 23); */
  color: #3A0519;
}

.student-dashboard-info-tile p{
  color: rgb(48, 48, 100);
}


.timetable-legend{
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 20px;
}

.timetable-legend-inner{
  display: flex;
  gap: 4px;
  align-items: center;
}

.timetable-legend-inner p{
  color: #E0D9D9;
  align-items: center;
}

.timetable-legend-circle{
  width: 16px;
  height: 16px;
  border: 0.5px solid gray;
  border-radius: 50%;
  align-items: center;
}


.student-dashboard-bottom-buttons{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.student-dashboard-bottom-buttons button{
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}