
.coordinators-page {
    display: flex;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f7f9fb;
    height: 100vh;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px 40px;
    overflow-y: auto;
    margin-left: 250px;
  }
  
  .logout-button {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .coordinator-table {
    background: white;
    padding: 20px;
    border-radius: 10px;
    
  }
  
  .coordinator-table h3 {
    margin-bottom: 15px;
  }
  
  .coordinator-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .coordinator-table th,
  .coordinator-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #eee;
  }
  
  .coordinator-table td img {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 8px;
  }
  
  .remove-btn {
    background: #ff4d6d;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .add-btn {
    margin-top: 15px;
    background: #000;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    float: right;
  }
  
