.student-faq-main {
  /* display: flex; */
  background-color: #1b1a1a;
  padding: 30px;
  /* background-color: #f9f9f9; */
  margin-left: 250px;
  min-height: 100vh;
}

.student-main-faq-top-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.student-main-faq-top-row h1{
  font-weight: 600;
  color: whitesmoke;
}

.student-faq-content {
  margin-top: 50px;
  flex: 1;
}

.student-faq-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
}

.student-faq-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.student-faq-item {
  background-color: #c2c2c2;
  border-left: 4px solid rgb(139, 1, 1);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  cursor: pointer;
  transition: all 0.3s ease;
}

.student-faq-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.student-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: #222;
}

.faq-icon {
  font-size: 1.5rem;
  color: rgb(139, 1, 1);
  transition: transform 0.6s;
}

.student-faq-answer {
  margin-top: 15px;
  font-size: 1rem;
  color: #032947;
  line-height: 1.5;
  animation: fadeIn 0.6s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}
