.timetable {
  display: grid;
  grid-template-columns: 100px repeat(12, 1fr);
  grid-auto-rows: 60px;
  border: 1px solid #ccc;
  width: 95%;
  /* max-width: 900px; */
  margin: 20px auto;
  box-shadow: 3px 3px 5px rgba(0,0,0, 0.5);
  border-radius: 5px;
}

.cell {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}

.cell p{
  text-align: center;
  width: 100%;
}

.cell .subname{
  font-weight: 600;
}

.header {
  background-color: #f0f0f0;
  font-weight: bold;
  font-size: 15px;
}
