.coordinator-notification-main {
  margin-left: 250px;
  padding: 30px;
  background-color: #f4f6f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: black;
}

.coordinator-notification-main-top {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  gap: 50px;
}

.coordinator-notification-main-top h1 {
  font-weight: bold;
}

/* Middle section: inputs + textarea + button */
.coordinator-notification-main-middle {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.notification-input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: white;
}

textarea {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: vertical;
  min-height: 150px;
  background-color: white;
}

.submit-btn {
  width: fit-content;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.submit-btn:hover {
  background-color: #0056b3;
}
