.student-history-container{
    display: flex;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    
}
.student-history-main{
    margin-left: 250px;
    flex: 1;
    padding: 40px 30px;
    background-color: #f4f6f8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}
.student-history-tiles-area{
    /* background-color: orange; */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}