.student-history-container{
    margin-left: 250px;
  padding: 30px;
  background-color: #1b1a1a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.student-main-history-top-row{
    display: flex;
    flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.student-main-history-top-row h1{
  font-weight: 600;
  color: whitesmoke;
}

.student-history-main{
    /* margin-left: 250px; */
    flex: 1;
    padding: 10px;
    /* background-color: rgba(#e2dfdf, 0.7);
    background-color: aqua; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}
.student-history-tiles-area{
    /* background-color: orange; */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}