.doaa-dashboard-container {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.doaa-dashboard-main {
    margin-left: 250px; 
    flex: 1;
    padding: 40px 30px;
    background-color: #f4f6f8;
    min-height: 100vh;
    box-sizing: border-box;
}
.doaa-dashboard-header {
    width:100%;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
    /* margin-bottom: 30px; */
    box-sizing: border-box;
}

.doaa-welcome-text h4 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0;
}

.doaa-welcome-text p {
    font-size: 15px;
    font-weight: 400;
    color: #444;
    margin-bottom: 15px;
    margin-top: 0;
}

.doaa-welcome-text h3 {
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 0;
}


.doaa-header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.doaa-stats-section {
    display: flex;
    /* gap: 1rem; */
    margin-top: 20px;
    flex-wrap: wrap;
    height: fit-content;
}


@media (max-width: 1300px) {
    .doaa-dashboard-main {
        margin-left: 180px;
    }

    .doaa-welcome-text h4 {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 0;
    }

    .doaa-welcome-text p {
        font-size: 12px;
        font-weight: 400;
        color: #444;
        margin-bottom: 15px;
        margin-top: 0;
    }

    .doaa-welcome-text h3 {
        font-size: 15px;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 0;
    }
}