.doaa-coordinator-table {
    margin-top: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.doaa-coordinator-table h3 {
    margin-bottom: 0px;
    color: #333;
    font-size: 1.3rem;
}

.doaa-coordinator-table h4 {
    margin-top: 0px;
    margin-bottom: 20px;
    color: #787878;
}

.doaa-coordinator-table table {
    width: 100%;
    border-collapse: collapse;
}

.doaa-coordinator-table th,
.doaa-coordinator-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align: justify;
    font-size: 15px;
    font-weight: 600;
}

.doaa-coordinator-name-td {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%; 
    min-height: 30px;
}

.doaa-coordinator-user-icon {
    flex-shrink: 0;
    font-size: 14px;
}

.doaa-coordinator-name-td div {
    text-align: left;
    word-wrap: break-word;
    flex-grow: 1;
}


.doaa-coordinator-table th {
    background-color: white;
    color: #6F767E;
    font-size: 17px;
}

.doaa-coordinator-user-icon {
    margin-right: 8px;
    color: #db4437;
    /* red tone or any color you like */
    vertical-align: middle;
}

tbody tr {
    background-color: white;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

tbody tr:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    transform: translateY(-3px);
    cursor: pointer;
    border: 2px solid white;
}

thead th {
    cursor: pointer;
    user-select: none;
}

@media (max-width: 1600px) {
    .doaa-coordinator-table h3 {
            font-size: 1rem;
        }

    .doaa-coordinator-table h4 {
        font-size: 0.8rem;
    }
    .doaa-coordinator-table th,
    .doaa-coordinator-table td {
        font-size: 10px;
        word-break: break-word;
        text-align: left;
    }

    .doaa-coordinator-table th {
        font-size: 13px;
    }
    .doaa-coordinator-user-icon {
        margin-right: 2px;
    }
}