.student-main-fees{
  margin-left: 250px;
  padding: 30px;
  background-color: rgb(229, 229, 229);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.student-main-fees *{
  margin: 0;
  padding: 0;
}

.student-main-fees-top, .student-main-fees-middle, .student-main-fees-bottom{
  background-color: white;
  padding: 20px;
  border: 1px ridge gray;
  border-radius: 10px;
}


.fees-breakdown-table{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 60px;
  border: 1px solid #ccc;
  width: 80%;
  margin: 20px auto;
  box-shadow: 3px 3px 5px rgba(0,0,0, 0.5);
  border-radius: 15px;
  overflow: hidden;
}

.fees-breakdown-table-cell {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: rgb(75, 75, 75);
}