.student-main-fees{
  margin-left: 250px;
  padding: 30px;
  background-color: rgb(229, 229, 229);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.student-main-fees *{
  margin: 0;
  padding: 0;
}

.student-main-fees-top, .student-main-fees-middle, .student-main-fees-bottom{
  background-color: white;
  padding: 20px;
  border: 1px ridge gray;
  border-radius: 10px;
}

.student-main-fees-middle{
  display: flex;
  flex-direction: row;
  overflow: none;
  width: 100%;
}
.student-main-fees-middle-left, .student-main-fees-middle-right{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.student-main-fees-middle-img{
  aspect-ratio: 1;
  max-width: 200px;
  width: 100%;
  margin-top: 5px;
}


.student-main-fees-bottom{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.student-main-fees-bottom-submit-btn{
  padding: 5px 10px;
  outline: none;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
}
.student-main-fees-bottom-submit-btn:hover{
  background-color: black;
  color: white;
}


.fees-breakdown-table{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 60px;
  border: 1px solid #ccc;
  width: 80%;
  margin: 20px auto;
  box-shadow: 3px 3px 5px rgba(0,0,0, 0.5);
  border-radius: 15px;
  overflow: hidden;
}

.fees-breakdown-table-cell {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: rgb(75, 75, 75);
}